.button {
  display: flex;
}
.button svg {
  fill: turquoise;

  &:hover,
  &:focus {
    fill: violet;
  }
}

.test__title {
  width: 73px;
  height: 28px;
  background-color: #f0d1a5;
  border-radius: 6px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
}

.test {
  // background-color: var(--backgroundPinkColor);
  // background-image: linear-gradient(180deg, rgb(255, 255, 255) 6%, rgb(255, 245, 246) 6%);
  height: 100vh;
  // padding-bottom: 113px;

  @media screen and (min-width: 1280px) {
    background-image: url(.././images/sectionbg.png),
      linear-gradient(180deg, rgb(255, 255, 255) 6%, rgba(255, 245, 246, 0.24) 6%);
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
