.button {
  display: flex;
}
.button svg {
  fill: turquoise;

  &:hover,
  &:focus {
    fill: violet;
  }
}

.test__title {
  width: 73px;
  height: 28px;
  background-color: #f0d1a5;
  border-radius: 6px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
}
